## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numero_entero = 10
print(numero_entero)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(numero_entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "coco    "

5) Crear una variable que contenga un número complejo

In [5]:
numero_complejo = 10 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
#import math
#pi_redondeado = round(math.pi, 4)

#*****************************************#

pi_redondeado = round(3.141592653589793, 4)
print(pi_redondeado)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
variable_booleana = True
variable_cadena = "true"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [9]:


print(type(variable_booleana))
print(type(variable_cadena))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
numero_entero = 10
numero_decimal = 3.14

suma = numero_entero + numero_decimal
print(suma)

13.14

11) Realizar una operación de suma de números complejos

In [11]:
complejo_1 = 2 + 3j
complejo_2 = 4 - 1j

suma = complejo_1 + complejo_2
print(suma)

(6+2j)

12) Realizar una operación de suma de un número real y otro complejo

13) Realizar una operación de multiplicación

In [12]:
# Multiplicación de dos números enteros
resultado_1 = 5 * 3
# El valor de resultado_1 será 15

# Multiplicación de un número entero y un número decimal
resultado_2 = 2 * 4.5
# El valor de resultado_2 será 9.0

# Multiplicación de dos números complejos
resultado_3 = (2 + 3j) * (4 - 1j)
# El valor de resultado_3 será (11+10j)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [13]:
resultado = 2 ** 8
print(resultado)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [14]:
cociente = 27 // 4
print(cociente)

6

16) De la división anterior solamente mostrar la parte entera

In [15]:

parte_entera = int(cociente)
print(parte_entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [16]:
resto = 27 % 4
print(resto)

3

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [17]:
variable_1 = "Hola "
variable_2 = "mundo"
saludo = variable_1 + variable_2
print(saludo)

Hola mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [18]:
if 2 == 2:
    print("2 es igual a 2")
else:
    print("2 no es igual a 2")

2 es igual a 2

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [19]:
if bool(2) == bool(2):
    print(True)
else:
    print(False)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [20]:
a = float('3.8')
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [21]:
numero = 3  
numero -= 1  
print(numero)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [22]:
resultado = 1 << 2
print(resultado)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [23]:
numero = 2
cadena = '2'

# Convertir el número a cadena y concatenarlo con la otra cadena
resultado1 = str(numero) + cadena
print(resultado1) 

# Convertir la cadena a número y sumarlo con el otro número
resultado2 = numero + int(cadena)
print(resultado2)

22
4

26) Realizar una operación válida entre valores de tipo entero y string

In [24]:
#Conversión de entero a cadena y concatenación
numero = 42
cadena = "El número es: " + str(numero)
print(cadena)

El número es: 42

In [25]:
#Interpolación de cadenas (con f-strings):
numero = 42
cadena = f"El número es: {numero}"
print(cadena)

El número es: 42

In [26]:
#Formateo de cadenas (con el método format()):
numero = 42
cadena = "El número es: {}".format(numero)
print(cadena)

El número es: 42